<div class="container">
  <hr>
  <h2 class="text-center mt-5">Membres de l'équipage</h2>
  <p [ngStyle]="{color: getTeamComplete()}">
    <span *ngIf="members.length < 50 ">L'équipage n'est pas complet. Il faut encore ajouter {{ 50 - members.length }} Argonaute(s).</span>
    <span *ngIf="members.length >= 50 ">L'équipage est complet</span>
  </p>
  <div class="row mt-5 border border-primary">
    <div class="col-md-4 text-center member-item"  *ngFor="let member of members">
      <p>{{ member.name }}</p>
    </div>
  </div>
</div>
